@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Nunito';
}

.navbar {
  background: #6cc6bd;
  padding: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.navbar .brand {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.5em;
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 4em 2em;
}

.hero {
  text-align: center;
  background: #d8fffb;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
}

.left-col h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0em;
}

.left-col .slogan {
  margin-top: 4em;
  font-size: 1.2em;
  color: gray;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
  border-radius: 15px;
}

section.about-section {
  position: relative;
  color: black;
  padding: 10px;
  font-weight: 600;
}

section.about-section h1 {
  font-size: 2em;
  margin-left: 5rem;
  text-decoration: underline;
}

section.about-section .card-title {
  text-decoration: underline;
  margin-left: 5rem;
}

section.about-section ul.about-list {
  margin: 0;
  padding-left: .1em;
}

section.about-section ul.about-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 5em;
  position: relative;
}

section.about-section ul.about-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons8-check-circle.svg");
  background-size: contain;
  margin-right: .5em;
}

section.attributes-section {
  background: #d8fffb;
}

section.attributes-section li {
  background: #f7f7ff;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

section.attributes-section li img {
  width: 5em;
  height: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  border: black;
  border-radius: 50%;
  margin-top: -4.5em;
}

section.testimonials-section {
  background: #57E2C6;
}

section.testimonials-section li {
  background: #f7f7ff;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

section.testimonials-section li img {
  width: 5em;
  height: 5em;
  -o-object-fit: cover;
     object-fit: cover;
  border: black;
  border-radius: 50%;
  margin-top: -4.5em;
}

section.contact-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.3))), url(../images/austintx.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(../images/austintx.jpg);
  background-size: cover;
  color: white;
}

section.contact-section h2 {
  font-size: 2em;
}

section.contact-section label {
  display: block;
  font-size: 1.2em;
  margin-bottom: .5em;
}

section.contact-section input, section.contact-section textarea {
  width: 100%;
  padding: .8em;
  margin-bottom: 1em;
  border-radius: .3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.contact-section .send-message-cta {
  background-color: #b1fff8;
  color: black;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  display: inline-block;
  margin-bottom: 5em;
  border-radius: 5em;
  padding: .5em 1em;
  width: unset;
  cursor: pointer;
}

footer {
  background: #333;
  padding: 1em;
  margin-top: auto;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: end center;
}

footer p {
  margin: 0;
  padding-left: 20px;
  color: white;
  font-size: .9em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 3;
  width: 50%;
  right: 0;
  top: 0;
  background: #6cc6bd;
  height: 100vh;
  padding: 1em;
}

ul.primary-nav {
  margin-top: 5em;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav li {
    padding: .2em;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .hero-img {
    width: 50%;
    margin-top: 3em;
    border-radius: 15px;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  ul.about-list {
    display: block;
    margin-left: 5em;
  }
  ul.about-list li {
    font-size: 1.4em;
  }
  ul.about-list li:before {
    width: 30px;
    height: 30px;
  }
  .testimonials-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */